html {
  font-size: 12px;
  font-family: 'Roclette', Oswald;
}  
  
.logo {
  font-size: 58px;
  text-align: center;
  text-decoration: none;
}

.logo a {
  text-decoration: none;
  color: #000;
}
  
html {
  background-color: #abcaff;
  color: #000;
}
  
body {
  margin: 0 auto;
  background-color: #abcaff;
  padding: 0;
  font-family: 'Roclette';
  font-size: 24px;
}

.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-right: 1em
}

nav {
  background-color: hsl(0, 0%, 100%);
  padding: .20em;
  font-size: 18px;
  text-align: center;
  position: sticky;
  top: 0px;
  left: 0px;
}

nav ul {
  margin: 0;
  border: 2px rgb(0, 0, 0);
  padding: 0;
  list-style: none;

  display: flex;

  
  align-items: center;
  justify-content: space-evenly;
  
}

nav a {
  color: #000;
  text-decoration: none;
  padding: .5em 1em;
}

.Subtitle {
  color: #000;
  text-align: center;
}

.Subtitle a {
  color:#3037ef;
  text-decoration: none;
  font-size: 32px;
}

.context {
  color: #000;
  text-align: left;
  text-decoration: none;
  padding: 0em 5em;
}

.context a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  width: 200px;
  padding-left: 0em;
  border: 2px #000
}


